/*Removes any prexisting padding or marginal space from the html and body elements.*/

html body {
	margin: 10px;
	padding: 10px;
	/*Remove this background-color! It is here to make sure that the css and html are linked.*/
	background-color: #FAC068;
	text-align: center;
	border-style: double;
		border-width: 3px;

}

/*Delete everything below this line! */
.header {
	color: #ffffff;
	background color: #FAC068;
	font-size: 80px;
	text-align: center;
}

.box 1 {
	font-size: 30px;

}
.box 2 {


}
.box 3 {

}
.h2 {
	align-self: center;
	color: #ffffff;
	font-size: 40px;
  position: relative;
  bottom: 140px;
  text-shadow:

}
.h3 {
	font-size: 0px;
}




}
