/*Removes any prexisting padding or marginal space from the html and body elements.*/

html body {
	margin: 0;
	padding: 0;
	/*Remove this background-color! It is here to make sure that the css and html are linked.*/
}
p{
	background-color: #d4d4d4;
	color: #000000;
	border: dashed;
	border-color: #fff200;
}
/*Remove this h1 Rule! */

h1 {
	text-align: center;
	padding-top: 50px;
	color: white;
	font-size: 100px;
}
